<d-appendix>
  {{ if and (.Params.Distill.SupportFiles.Appendix) (fileExists ((printf "%s%s" .File.Dir .Params.Distill.SupportFiles.Appendix))) }}
    {{ readFile (printf "%s%s" .File.Dir .Params.Distill.SupportFiles.Appendix) | safeHTML | markdownify }}
  {{ end }}

  {{ if .Site.Params.SourcePrefix }}
    {{ $srcFileURL := (printf "%s/content/%s" .Site.Params.SourcePrefix .File.Dir) }}
    <h3>Updates and Corrections</h3>
    <p>If you see mistakes or want to suggest changes, please create issues or revisions against
      <a target="_blank" href="{{ $srcFileURL }}">source</a>.
    </p>
  {{ end }}

  {{ if and (.Params.Distill.SupportFiles.Bibliography) (fileExists ((printf "%s%s" .File.Dir .Params.Distill.SupportFiles.Bibliography))) }}
    <d-bibliography src="{{ .RelPermalink }}{{ .Params.Distill.SupportFiles.Bibliography }}"></d-bibliography>  
  {{ end }}
</d-appendix>