<d-front-matter>
  <script type="text/json">{
    "title": "{{ .Title }}",
    "description": "{{ .Params.Description }}",
    "published": "{{ dateFormat "Jan 2, 2006" .Date }}",
    "authors": [
      {{- range $ax, $author := .Params.Distill.Authors }}
        {
          "author": "{{ $author.author }}",
          "authorURL": "{{ $author.authorURL }}",
          "affiliations": [
            {{ range $bx, $affiliation := $author.affiliations }}
              {
                "name": "{{ $affiliation.name }}",
                "url": "{{ $affiliation.url }}"
              }{{ if (lt (add $bx 1) (len $author.affiliations)) }},{{ end }}
            {{ end }}
          ]
        }{{ if (lt (add $ax 1) (len $.Params.Distill.Authors)) }},{{ end }}
      {{- end -}}
    ],
    "katex": {
      "delimiters": [
        {"left": "$$", "right": "$$", "display": true},
        {"left": "$", "right": "$", "display": false},
        {"left": "\\(", "right": "\\)", "display": false},
        {"left": "\\[", "right": "\\]", "display": true}
      ]
    }
  }</script>
</d-front-matter>
