{{ define "body" }}

<d-front-matter>
  <script id='distill-front-matter' type="text/json">{
    "title": "Hmm.{{ emojify ":expressionless:" }}",
    "description": "Broken.",
    "authors": []
  }</script>
</d-front-matter>

<d-title>
  <p>
    Everything working as intended over here</i>.
    <d-footnote>
      Image Courtesy: <a target="_blank" href="https://lossfunctions.tumblr.com/image/126914340062">https://lossfunctions.tumblr.com/image/126914340062</a>.
      More fun at <a target="_blank" href="https://lossfunctions.tumblr.com">https://lossfunctions.tumblr.com</a>.
    </d-footnote>
  </p>
  
  <figure style="grid-column: page; margin: 0;"><img src="https://78.media.tumblr.com/eeae87e80c8bd5774a79040cdab7297e/tumblr_nt8ek3qioK1ue62ito1_1280.png" style="width:100%; border: 1px solid rgba(0, 0, 0, 0.2);"/></figure>
</d-title>

<d-article></d-article>

<d-appendix></d-appendix>

{{ end }}