{{ define "content" }}
<d-front-matter>
  <script type="text/json">{
    "title": "{{ .Title }}",
    "description": "{{ .Description }}",
    "authors": []
  }</script>
</d-front-matter>

<div class="l-page">
  <style>
    .l-page {
      box-sizing: border-box;
      padding: 5em 10em;
    }

    .l-page .pagination {
      padding: 0;
      list-style: none;
      color: hsla(206, 90%, 20%, 0.7);
      text-align: center;
      margin-top: 5em;
    }

    .l-page .pagination .page-item .page-link {
      text-decoration: none;
    }

    .l-page .pagination .page-item {
      display: inline-block;
    }

    .l-page .pagination .page-item .page-link {
      padding: 0.1em 0.5em;
    }

    .l-page .pagination > :nth-child(n+3):nth-last-child(n+3) {
      border: solid {{ .Site.Params.color }} 1px;
    }

    .l-page .pagination .page-item.active {
      background-color: {{ .Site.Params.color }};
      border: none;
    }

    .l-page .pagination .page-item.active .page-link {
      color: white;
    }

    .l-page .pagination .page-item.disabled {
      pointer-events: none;
    }

    .l-page .paginated-list {
      padding: 0;
      list-style: none;
    }

    .l-page .paginated-list .sep {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid rgba(0,0,0,0.1);
      margin: 1em 0;
      padding: 0;
    }

    .l-page .paginated-list .page-link {
      text-decoration: none;
    }

    .l-page .page-preview {
      display: flex;
      align-items: center;
      height: 100%;
    }
    .l-page .page-preview .date-tags {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1em 4em 1em 0;
      box-sizing: border-box;
    }
    .l-page .page-preview .date-tags p {
      margin: 0;
      color: rgba(0,0,0,0.8);
      font-size: 0.8em;
    }
    .l-page .page-preview .title-desc .title{
      color: rgba(0,0,0,0.8);
      font-weight: 700;
    }
    .l-page .page-preview .title-desc .desc{
      color: rgba(0,0,0,0.8);
      font-weight: 400;
    }
  </style>

  {{ $paginator := .Paginate .Pages }}
  <ul class="paginated-list">
    {{ range $paginator.Pages }}
      <a class="page-link" target="_blank" href="{{ .RelPermalink }}">
        <li class="page">
          <div class="page-preview">
            <div class="date-tags">
              <p>{{ dateFormat "Jan 2, 2006" .Date }}</p>
              <!-- TODO: Add kind/tags -->
            </div>
            <div class="title-desc">
              <h1 class="title">{{ .Title }}</h1>
              <p class="desc">{{ .Description }}</p>
              <!-- TODO: Add optional image -->
            </div>
          </div>
        </li>
      </a>
      <hr class="sep">
    {{ end }}
  </ul>
  
  {{ template "_internal/pagination.html" . }}
</div>

{{ end }}