{{ define "body" }}

<d-front-matter>
  <script type="text/json">{
    "title": "{{ .Title }}",
    "description": "{{ .Params.Description }}",
    "authors": []
  }</script>
</d-front-matter>

<div class="l-page">
  <style>
    .l-page {
      box-sizing: border-box;
      padding: 5em 5em;
    }

    .l-page .pagination {
      padding: 0;
      list-style: none;
      color: hsla(206, 90%, 20%, 0.7);
      text-align: center;
      margin-top: 5em;
    }

    .l-page .pagination .page-item {
      display: inline-block;
    }

    .l-page .pagination .page-item .page-link {
      text-decoration: none;
      padding: 0.1em 0.5em;
    }

    .l-page .pagination > :nth-child(n+3):nth-last-child(n+3) {
      border: solid {{ .Site.Params.color }} 1px;
    }

    .l-page .pagination .page-item.active {
      background-color: {{ .Site.Params.color }};
      border: none;
    }

    .l-page .pagination .page-item.active .page-link {
      color: white;
    }

    .l-page .pagination .page-item.disabled {
      pointer-events: none;
    }

    .l-page .posts-list .post-preview {
      text-decoration: none;
      overflow: hidden;
      display: block;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      box-sizing: border-box;
      padding: 1.5em 0;
      color: rgba(0,0,0,0.8);
    }

    @media (min-width: 768px) { 
      .l-page .posts-list .post-preview .metadata {
        float: left;
        width: 15%;
        padding: 1em;
        padding-top: 0;
        box-sizing: border-box;
      }
    }

    @media (max-width: 768px) {
      .l-page .posts-list .post-preview .metadata {
        width: 100%;
      }
    }

    .l-page .posts-list .post-preview .metadata .date {
      margin: 0;
      color: rgba(0,0,0,0.8);
      font-size: 0.75em;
    }

    .l-page .posts-list .post-preview .metadata .rtime {
      margin: 0;
      color: rgba(0,0,0,0.8);
      font-size: 0.75em;
    }

    .l-page .posts-list .post-preview .metadata .kind {
      display: inline;
      padding: 0.3em 0.5em;
      border: solid rgba(0,0,0,0.4) 1px;
      border-radius: 3px;
      font-size: 0.6em;
      text-transform: uppercase;
    }

    .l-page .posts-list .post-preview .description {
      float: left;
      width: 40%;
      line-height: 2em;
    }

    .l-page .posts-list .post-preview .description h2 {
      margin-top: 0;
    }

    @media (max-width: 768px) {
      .l-page .posts-list .post-preview .description {
        width: 100%;
      }
    }

    @media (min-width: 768px) {
      .l-page .posts-list .post-preview .thumbnail {
        float: right;
        width: 35%;
      }
    }

    .l-page .posts-list .post-preview .thumbnail img {
      display: block;
      width: 100%;
      max-width: 30em;
    }
  </style>

  
  <div class="posts-list">
    {{ $paginator := .Paginate (where .Site.RegularPages "Params.listrender" "!=" false) }}
    {{ range $paginator.Pages }}
      <a class="post-preview" target="_blank" href="{{ .RelPermalink }}">
        <div class="metadata">
          <p class="date">{{ dateFormat "Jan 2, 2006" .Date }}</p>
          {{ if .Params.Categories }}
          {{ if gt (len .Params.Categories) 0 }}
            <p class="kind">{{ index .Params.Categories 0 }}</p>
          {{ end }}
          {{ end }}
          <p class="rtime">&#128339 {{ .ReadingTime }} min read</p>
        </div>
        <div class="thumbnail"><img src="{{ .Params.Thumbnail }}"></div>
        <div class="description">
          <h2>{{ .Title }}</h2>
          <p>{{ .Params.Description }}</p>
        </div>
      </a>
    {{ end }}
  </div>
  
  {{ template "_internal/pagination.html" . }}
</div>

{{ end }}